<html>
    <body>
        <center><h3>Enter email id!</h3>
    <form method="post" action="/forget_password" class="mb-2">
        {% csrf_token %}
  <div class="form-group col-md-6 mb-0">
    <div class="form-group">
        <label for="Email">Email</label>
        <input type="text" class="form-control" id="Email" name="Email" placeholder="Enter Your Email" Required>
    </div>
    </div>
    <button class="button button2">Submit</button>
    </form>
   
</center>
    <!-- <center><a href="http://127.0.0.1:8000/send_mail_forget_pw/{{uname}}">Forgot Password..?</a></center> -->
    </body>
</html>